@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --spring: #F2FFE9;
    --charcoal: #2f4858;
    --hunyadi-yellow: #f6ae2d;
    --orange: #f26419;
    --cal-poly-green: #254d32;
    --light-blue: #69a2a8;
}

/************************************************CONTAINER*********************************************/
#container {
    background-color: var(--charcoal);
    width: 80%;
    height: 95%;
    margin: 0 auto;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
}

/************************************************BODY***************************************************/
body {
    background-color: var(--spring);
}

/***********************************************NAV**************************************************/
nav {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
}

nav p {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
}

nav img {
    width: 15%;
    height: 2%;
}

/**************************************************MAIN*************************************************/
main {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

#text>input {
    width: 100%;
    height: 18%;
    border-radius: 5px;
    border: 2px solid gray;
    resize: none;
    background-color: var(--charcoal);
    margin-bottom: 2%;
}

#text>p {
    color: var(--white);
    font-size: 0.938rem;
    margin-bottom: 3%;
}

#msg:valid {
    color: var(--white);
    font-size: 0.938rem;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--white);
    font-size: 0.938rem;
    padding-top: 5%;
    padding-left: 5%;
}

#btns {
    display: flex;
    flex-direction: row;
    margin-top: 25%;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
}

#second__btn {
    background-color: var(--hunyadi-yellow);
    margin-left: 5%;
}

/******************************Image-FIELD************************************/
.encrypted-text {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}

#image-field {
    width: 35%;
    height: 40%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6%;
}

#image-field>img {
    width: 60%;
    height: 40%;
}

#output-message {
    width: 100%;
    height: 40%;
    border: 2px solid gray;
    border-radius: 7px;
}

.btn-copiar {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-top: 45%;
}

#no-message-text {
    display: none;
    /* Inicialmente oculto */
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}

#image-field.empty #no-message-text {
    display: block;
    /* Exibe apenas quando #image-field tem a classe .empty */
}

/*****************************FOOTER******************************************/
#rodape {
    margin-bottom: 1%;
}

footer p {
    text-align: center;
    color: var(--white);
    font-size: 0.75rem;
}

#autor {
    font-size: 0.75rem;
}

#autor a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}